<!DOCTYPE html>
<html>
<head>
    <title>Add Panel</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.min.css">
</head>
<body>
<h1>You are <%= userType %> </h1>
<p>Welcome to Worker panel</p>
<ul>
    <li><a href="">Dodaj Model Samochodu</a></li>
    <li><a href="">Dodaj Markę Samochodu</a></li>
    <li><a href="">Dodaj Salon Samochodowy</a></li>
    <li><a href="">Dodaj Klienta</a></li>
    <li><a href="">Dodaj Zlecenie</a></li>
    <li><a href="">Dodaj Samochód do Salonu</a></li>
</ul>
<input class="form-control input100" type="text" name="login" placeholder="Login">
</body>
</html>